fastapi>=0.121.3
uvicorn[standard]>=0.38.0
gunicorn>=23.0.0
supabase>=2.9.0
python-dotenv>=1.2.1
pydantic-settings>=2.12.0
python-multipart>=0.0.20
email-validator>=2.3.0
PyMuPDF>=1.26.6
python-docx>=1.2.0
slowapi>=0.1.9
deepgram-sdk==3.11.0
langchain==1.1.0
langchain-google-genai==3.2.0
langchain-postgres==0.0.16
psycopg2-binary==2.9.11